@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  nav ul {
    display: none;
  }

  .menu-bar {
    font-size: 2.4rem;
    display: block;
  }
  .gift-section {
    flex-direction: column;
  }

  .gift-section img {
    width: 100%;
  }

  .footer-upper .container {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-upper .footer-links {
    min-width: 15rem;
  }
}

@media (max-width: 1024px) {
  .gift-card img {
    width: 40rem;
  }
  .ipad-iphone-img {
    margin-top: -20rem;
    top: 20rem;
  }
  .ipad-iphone-img img,
  .mac-img img {
    max-width: 100%;
  }
  .about-music {
    padding-top: 30rem;
  }
}

@media (max-width: 425px) {
  .ipad-iphone-img {
    margin-top: -10rem;
    top: 10rem;
  }
  .about-music {
    padding-top: 15rem;
  }
}
